{include file="public/header"/}
<link href="__STATIC__/css/index.css" rel="stylesheet"/>
<div class="layui-main">
    <!-- 网站标题 -->
    <h1 class="myweb-title">网站标题</h1>
    <!-- 顶部导航栏 -->
    <ul class="layui-nav layui-bg-green">
        <li class="layui-nav-item"><a>导航一</a>
            <dl class="layui-nav-child">
                <dd><a>内容1</a></dd>
                <dd><a>内容1</a></dd>
                <dd><a>内容1</a></dd>
            </dl></li>
        <li class="layui-nav-item"><a>导航一</a></li>
        <li class="layui-nav-item"><a>导航一</a></li>
        <li class="layui-nav-item"><a>导航一</a></li>
    </ul>
</div>
{include file="public/footer"/}